@import "../../node_modules/materialize-css/sass/components/_color.scss";
// Colors
$primary-color: color("indigo", "darken-2");
$primary-color-light: color("indigo", "lighten-2");
$primary-color-dark: color("indigo", "darken-4");

$secondary-color: color("grey", "lighten-1");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");
@import "../../node_modules/materialize-css/sass/materialize.scss";

.rp-app {
  width: 100%;
}

.container {
  width: 85%;
}

.rp-logo {
  width: 85%;
  height: auto;
}

.rp-container {
  display: flex;
  flex-direction: column;

  .rp-toolbar {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;

    button {
      margin-right: 10px;
    }
  }

  .rp-table-container {
    display: flex;
    width: 100%;

    .rp-resources-information {
      width: 260px;
    }

    .rp-weekly-allocations {
      overflow-x: scroll;
    }

    .rp-totals {
      width: 200px;
    }

    .rp-table {
      table-layout: fixed;

      th {
        height: 74px;
      }

      td {
        height: 77px;
      }

      input {
        margin: 0 !important;
      }
    }
  }
}

.rp-resource-id-col {
  width: 40px;
}

.rp-resource-name-col {
  width: 220px;
}

.rp-week-col, .rp-resource-total-col, .rp-resource-opts-col {
  width: 100px;
}