@import "../../node_modules/scooter-css/scss/scooter.scss";

body {
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
}

.rp-header, .rp-content {
  display: block;
  width: 100%;
}

.rp-resource-id-col {

}

.rp-resource-name-col {
  min-width: 240px;
}

.rp-week-col {

}

.rp-add-remove-week-tooltip {
  width: 150px;
}

.rp-week-last-col {
  .rp-add-remove-week-tooltip {
    margin-top: 10px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
  }
}

.rp-week-last-col:hover {
  .rp-add-remove-week-tooltip {
    visibility: visible;
  }
}
