@import "../../node_modules/scooter-css/scss/scooter.scss";

body {
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
}

.rp-header, .rp-content {
  display: block;
  width: 100%;
}

.rp-resource-plans {
  overflow-x: scroll;
}

.rp-resource-plan-table {
  table-layout: fixed;
}

.rp-resource-id-col {
  width: 40px;
}

.rp-resource-name-col {
  width: 220px;
}

.rp-resource-totals-col {
  width: 100px;
}

.rp-week-col {
  width: 100px;
}

.rp-add-remove-week-tooltip {
  width: 150px;
}

.rp-week-last-col {
  .rp-add-remove-week-tooltip {
    margin-top: 10px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
  }
}

.rp-week-last-col:hover {
  .rp-add-remove-week-tooltip {
    visibility: visible;
  }
}
